
@{
    ViewData["Title"] = "Movie";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="card mb-4 mt-4">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h3>@ViewData["Title"]</h3>
            <a class="btn btn-success" href="#">New Category</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Movie Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Star Wars</td>
                    <td>Yildiz Savaslari, George Lucsa tarafindan yaratilmis, oncelikle fimleriyle taninmis, sonraki yillarda cizgi roman, video oyunlari, televizyon yapimlari vb. dallarda ununu arttirmis kurgusal bir evren ve markadir.</td>
                    <td>Bilim Kurgu</td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="#">Update</a>
                        |
                        <a class="btn btn-sm btn-danger" href="#">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

