@model Project.Entity.Entity.ShowTime
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="card mb-4 mt-4">
    <div class="card-header">
        <h3>New Showtime</h3>
    </div>
    <div class="card-body">
        <form asp-action="Update" asp-controller="ShowTime" method="post">
            <div class="mb-2">
                <label>Showtime</label>
                <input type="text" class="form-control" asp-for="Time" />
            </div>

            <div class="mb-2">
                <label>Select Movie</label>
                <select class="form-control custom-select" asp-items="@ViewBag.Movies" asp-for="MovieId">
                    <option selected="" disable>Select Hall</option>
                </select>
            </div>

            <div class="mb-2">
                <label>Hall</label>
                <select class="form-control custom-select" asp-items="@ViewBag.Halls" asp-for="HallId">
                    <option selected="" disable>Select Hall</option>
                </select>
            </div>

            <div class="mb-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>

