@model List<Project.Entity.Entity.Genre>


@{
    ViewData["Title"] = "Genre";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


@if (TempData["result"] != null)
{
    <div class="alert alert-info alert-dismissible mt-2">
        <span>@TempData["result"]</span>
    </div>
}
<div class="card mb-4 mt-4">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h3>@ViewData["Title"]</h3>
            <a class="btn btn-success" asp-action="Create" asp-controller="Genre">New Genre</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Genre Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="4">
                                <span>Herhangi bir tur eklenmemis</span>
                            </td>
                        </tr>
                    }

                    {
                        @foreach (var genre in Model)
                        {
                            <tr>
                                <td>@genre.Id</td>
                                <td>@genre.GenreName</td>
                                <td>
                                <a class="btn btn-sm btn-warning" href="/Dashboard/Genre/Update/@genre.Id">Update</a>
                                |
                                    <a class="btn btn-sm btn-danger" href="/Dashboard/Genre/Delete/@genre.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

