@model List<Project.Entity.Entity.ShowTime>
@{
    ViewData["Title"] = "GetMovieTimes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-4 mt-4">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h3>@ViewData["Title"]</h3>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="3">
                                <span>Herhangi bir seans bulunamadi</span>
                            </td>
                        </tr>
                    }

                    {
                        @foreach (var showTime in Model)
                        {
                            <tr>
                                <td>@showTime.Movie.Title</td>
                                <td>@showTime.Time.ToShortTimeString()</td>@*Burada ToShortTimeString() metodu ile zamani saat ve dakika olarak gosteriyorum. orn: 21:30*@
                                <td>
                                    <a class="btn btn-sm btn-warning" asp-action="AddToCart" asp-controller="Home" asp-route-id="@showTime.Id">Bilet Al</a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

