@model List<Project.Entity.Entity.Movie>
@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Movie image-->
                        <img class="card-img-top" src="~/image/movie/@item.ImagePath" alt="urun gorseli" />
                        <!-- Movie details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Movie name-->
                                <h5 class="fw-bolder">@item.Title</h5>
                                <!-- Movie reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                @if (item.Description != null)
                                {
                                    @if (item.Description.Length > 100)
                                    {
                                        @item.Description.Substring(0,99) <span>[<a href="#">genislet...</a>]</span>
                                    }
                                    else
                                    {
                                        @item.Description
                                    }
                                }
                                else
                                {
                                    <span>Aciklama bulunmuyor</span>
                                }
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-action="AddToCart" asp-controller="Home" asp-route-id="@item.Id">Bilet Al</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
