@model Project.Common.Cart

@{
    ViewData["Title"] = "MyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal? toplamTutar = 0;
}

<div class="row">
    <div class="col-md-9">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>UnitPrice</th>
                    <th>Quantity</th>
                    <th>SubTotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model._myCart.Values)
                {
                    toplamTutar += item.SubTotal;
                    <tr>
                        <td>@item.MovieTitle</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.Quantity</td>
                        <td>@item.SubTotal</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-md-3">
        <div class="card">
            <h1>Toplam Tutar: @toplamTutar ₺</h1>
        </div>
    </div>
</div>
