
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 mx-auto mt-2">
        <div class="card">
            <div class="card-header">
                <h2>User Register</h2>
            </div>
            <div class="card-body">
                <form>

                </form>
            </div>
        </div>
    </div>
</div>

